body{
    margin: 11%;
    background-color: lightblue;
    padding: 5%;
}

.content {
    max-width: max-content;
    max-height: max-content;
    margin: 0 auto;
    text-align: center;
}

.number {
    font-size: 150px;
}

.btn-outline-primary {
    width: 300px;
    height: 60px;
    background-color: antiquewhite;
    color: darkcyan;
}